{% extends 'base.html.twig' %}

{% block title %}{% trans %}Sign in{% endtrans %}{% endblock %}

{% block body %}
    <div class="container m-auto">
        <div class="row d-flex justify-content-center align-items-center vh-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-flex  justify-content-center
                        align-items-center">
                            <img src="" alt="logo" class="img-fluid"/>
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">
                                <form action="{{ path('app_login') }}" method="post">
                                    {% if error %}
                                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                    {% endif %}

                                    <div class="d-flex align-items-center justify-content-center mb-3 pb-1">
                                        <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                                    </div>

                                    <h5 class="fw-normal mb-3 pb-3"
                                        style="letter-spacing: 1px;">{% trans %}Sign in{% endtrans %}</h5>

                                    <div class="form-floating mb-4">
                                        <input type="text" value="{{ last_username }}" name="username"
                                               id="inputUsername" class="form-control form-control-lg"
                                               autocomplete="username" required autofocus placeholder="username">
                                        <label for="inputUsername"
                                               class="form-label">{% trans %}Username{% endtrans %}</label>
                                    </div>

                                    <div class="form-floating mb-4">
                                        <input
                                                type="password"
                                                name="password"
                                                id="inputPassword"
                                                class="form-control"
                                                autocomplete="current-password" required
                                                placeholder="password"
                                                {{ stimulus_controller('symfony/ux-toggle-password/toggle-password',
                                                    {
                                                        buttonClasses: ['toggle-password-button'],}
                                                ) }} >
                                        <label for="inputPassword">{% trans %}Password{% endtrans %}</label>
                                    </div>

                                    <input type="hidden" name="_csrf_token"
                                           value="{{ csrf_token('authenticate') }}">
                                    <div class="pt-1 mb-4">
                                        <button class="btn btn-dark btn-lg btn-block" type="submit">{% trans %}Sign in{% endtrans %}</button>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <a href="{{ path('app_forgot_password_request') }}" class="small text-muted">
                                            {% trans %}Forgot password?{% endtrans %}</a>
                                        <a href="{{ path('app_register') }}" class="small text-muted">
                                            {% trans %}Sign up{% endtrans %}</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}