{% extends 'base.html.twig' %}

{% block title %}{% trans %}Sign up{% endtrans %}{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <div class="container m-auto">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col col-xl-10">
                <div class="card rounded-3 card-security">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-flex  justify-content-center
                        align-items-center">
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">
                                {{ form_errors(registrationForm) }}
                                <div class="d-flex align-items-center justify-content-center mb-3 pb-1">
                                    <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                                </div>
                                <h3 class="fw-normal mb-3 pb-3 text-black"
                                    style="letter-spacing: 1px;">{{ block('title') }}</h3>
                                {{ form_start(registrationForm) }}
                                {{ form_row(registrationForm.username) }}
                                {{ form_row(registrationForm.email) }}
                                {{ form_row(registrationForm.plainPassword) }}

                                <button type="submit" class="btn btn-dark mb-3">{{ block('title') }}</button>
                                {{ form_end(registrationForm) }}
                                <div class="d-flex justify-content-between">
                                    <a href="{{ path('app_forgot_password_request') }}" class="small text-muted">
                                        {% trans %}Forgot password?{% endtrans %}</a>
                                    <a href="{{ path('app_login') }}" class="small text-muted">{% trans %}Sign in{% endtrans %}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
